<?php

/**-->
 * @package     BlueAcorn/BannerCarouselWidget
 * @version     0.1.0
 * @author      Gabriell J. Blue Acorn, Inc.
 * @copyright   Copyright © 2014 Blue Acorn, Inc.
 */

?>



<?php $bannersContent = $this->getBannersContent();?>

<?php if($bannersContent != null): ?>
    <div class="slideshow-container">
        <ul class="slideshow">
            <?php $isFirstBanner = true;?>
            <?php foreach($bannersContent as $bannerId => $content): ?>
                <?php if(!$isFirstBanner): ?>
                    <li class="cycle-slide cycle-sentinel">
                        <?php echo $content; ?>
                        <?php $isFirstBanner = false; ?>
                    </li>
                <?php endif; ?>
                <li class="cycle-slide">
                    <?php echo $content; ?>
                </li>
            <?php endforeach; ?>
        </ul>
        <?php if(count($bannersContent) > 1): ?>
            <div class="slideshow-pager"></div>
        <?php endif; ?>
        <?php if(count($bannersContent) > 1): ?>
            <span class="slideshow-prev"></span>
            <span class="slideshow-next"></span>
        <?php endif; ?>
    </div>
<?php endif; ?>


<script type="text/javascript">
    $j(document).ready(function () {

        $j('.slideshow-container .slideshow')
            .cycle({
                slides: '> li',
                pager: '.slideshow-pager',
                pagerTemplate: '<span class="pager-box"></span>',
                speed: "<?php echo Mage::helper('blueacorn_bannercarouselwidget')->convertSecondsToMilliseconds(Mage::helper('blueacorn_bannercarouselwidget')->getSpeed());?>",
                pauseOnHover: true,
                swipe: true,
                prev: '.slideshow-prev',
                next: '.slideshow-next',
                fx: 'scrollHorz',
                timeout: "<?php echo Mage::helper('blueacorn_bannercarouselwidget')->convertSecondsToMilliseconds(Mage::helper('blueacorn_bannercarouselwidget')->getDelay());?>"
            });
    });
</script>
